In [1]:
import pandas as pd

In [2]:
commentary = pd.read_csv('data/66169_commentary.csv')

In [3]:
commentary

,over_number,commentary_data,timestamp
0,preview,""" The first chants of Dhoni-Dhoni!"" says a rel...",1680265850564
1,preview,Didn't expect to see so much yellow in Motera!,1680265850565
2,preview,"No matter whatever the stadium may be, CSK fa...",1680265850670
3,preview,"""More yellow than blue in this stadium that's...",1680266544080
4,preview,"Hari agree with that, but there is definitely...",1680266544081
...,...,...,...
410,post,Obviously very happy. We did put ourselves in...,1680287066499
411,post,So happy to get this crucial Man of the Match...,1680287468542
412,post,So happy to get this crucial Man of the Match...,1680287468542
413,post,That concludes a very entertaining IPL opener....,1680287653877
414,post,That concludes a very entertaining IPL opener....,1680287653877

In [4]:
commentary.over_number.unique()

array(['preview', '0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '1.1', '1.2',
       '1.3', '1.4', '1.5', '1.6', '2.1', '2.2', '2.3', '2.4', '2.5',
       '2.6', '3.1', '3.2', '3.3', '3.4', '3.5', '3.6', '4.1', '4.2',
       '4.3', '4.4', '4.5', '4.6', '5.1', '5.2', '5.3', '5.4', '5.5',
       '5.6', '6.1', '6.2', '6.3', '6.4', '6.5', '6.6', '7.1', '7.2',
       '7.3', '7.4', '7.5', '7.6', '8.1', '8.2', '8.3', '8.4', '8.5',
       '8.6', '9.1', '9.2', '9.3', '9.4', '9.5', '9.6', '10.1', '10.2',
       '10.3', '10.4', '10.5', '10.6', '11.1', '11.2', '11.3', '11.4',
       '11.5', '11.6', '12.1', '12.2', '12.3', '12.4', '12.5', '12.6',
       '13.1', '13.2', '13.3', '13.4', '13.5', '13.6', '14.1', '14.2',
       '14.3', '14.4', '14.5', '14.6', '15.1', '15.2', '15.3', '15.4',
       '15.5', '15.6', '16.1', '16.2', '16.3', '16.4', '16.5', '16.6',
       '17.1', '17.2', '17.3', '17.4', '17.5', '17.6', '18.1', '18.2',
       '18.3', '18.4', '18.5', '18.6', '19.1', '19.2', '19.3', '19.4',
       '19.5', '19.6', 'post'], dtype=object)

In [5]:
highlights = pd.read_csv('data/66169_highlights.csv')

In [6]:
highlights.over_number.unique()

array([ 1.1,  1.3,  2.2,  3.1,  3.2,  3.5,  4.3,  4.4,  4.5,  5.3,  5.4,
        5.5,  6.3,  6.4,  6.6,  7.3,  7.4,  8.1,  8.4,  8.6, 10.6, 11.1,
       11.3, 11.6, 12.3, 12.5, 14.3, 16.1, 16.4, 17.1, 17.4, 18.1, 18.2,
       18.3, 19.3, 19.4,  1.2,  1.5,  2.5,  3.6,  4.1,  5.6,  7.5,  8.5,
        9.3, 10.5, 11.2, 12.1, 13.2, 13.6, 14.5, 14.6, 15.3, 17.3, 17.5,
       17.6, 18.4, 18.5, 19.1, 19.2])

In [7]:
highlights.commentary_data[0]

" Hardik Pandya to Gaikwad, , back of a length around middle, and it's been clipped away beautifully by Gaikwad! He hangs back and shows lovely wristwork to get it purring through midwicket "

In [8]:
commentary.commentary_data[39]

" Hardik Pandya to Gaikwad, , back of a length around middle, and it's been clipped away beautifully by Gaikwad! He hangs back and shows lovely wristwork to get it purring through midwicket "

In [9]:
match_info = pd.read_csv('data/66169_match_info.csv')

In [10]:
match_info

,match_id,match_description,match_format,match_type,year,team1,team2,venue,city
0,66169,1st Match,T20,league,2023,Gujarat Titans,Chennai Super Kings,"Motera Gujarat Stadium, Sardar Patel Stadium",Ahmedabad

In [11]:
match_info.team_name.unique()

AttributeError: 'DataFrame' object has no attribute 'team_name'

In [ ]:
match_info.team1.values[0]

'Gujarat Titans'

In [17]:
score_info = pd.read_csv('/home/snow/NEU/cricket_news/dataset/66173_match_info.csv')

In [18]:
score_info

,match_id,match_description,match_format,match_type,year,team1,team2,venue,city
0,66173,2nd Match,T20,league,2023,Punjab Kings,Kolkata Knight Riders,NaN,Mohali