In [5]:
import pandas as pd

In [6]:
commentary = pd.read_csv('data/66169_match_info.csv')

In [7]:
commentary

,match_id,match_description,match_format,match_type,year,team1,team2,venue,city
0,66169,1st Match,T20,league,2023,Gujarat Titans,Chennai Super Kings,"Motera Gujarat Stadium, Sardar Patel Stadium",Ahmedabad

In [13]:
highlights = pd.read_csv('data/66169_highlights.csv')

In [14]:
highlights.over_number.unique()

array([ 1.1,  1.3,  2.2,  3.1,  3.2,  3.5,  4.3,  4.4,  4.5,  5.3,  5.4,
        5.5,  6.3,  6.4,  6.6,  7.3,  7.4,  8.1,  8.4,  8.6, 10.6, 11.1,
       11.3, 11.6, 12.3, 12.5, 14.3, 16.1, 16.4, 17.1, 17.4, 18.1, 18.2,
       18.3, 19.3, 19.4,  1.2,  1.5,  2.5,  3.6,  4.1,  5.6,  7.5,  8.5,
        9.3, 10.5, 11.2, 12.1, 13.2, 13.6, 14.5, 14.6, 15.3, 17.3, 17.5,
       17.6, 18.4, 18.5, 19.1, 19.2])

In [15]:
highlights.commentary_data[0]

" Hardik Pandya to Gaikwad, , back of a length around middle, and it's been clipped away beautifully by Gaikwad! He hangs back and shows lovely wristwork to get it purring through midwicket "

In [16]:
commentary.commentary_data[39]

AttributeError: 'DataFrame' object has no attribute 'commentary_data'

In [17]:
match_info = pd.read_csv('data/66169_match_info.csv')

In [18]:
match_info

,match_id,match_description,match_format,match_type,year,team1,team2,venue,city
0,66169,1st Match,T20,league,2023,Gujarat Titans,Chennai Super Kings,"Motera Gujarat Stadium, Sardar Patel Stadium",Ahmedabad

In [19]:
match_info.team1.values[0]

'Gujarat Titans'

In [20]:
df_bowling  = pd.read_csv('/home/snow/NEU/cricket_news/dataset/66173_match_info_bowling.csv')

In [21]:

team1 = df_bowling['team_name'].unique()[0]
best_bowling_team1 = df_bowling[df_bowling['team_name'] == team1].sort_values(by='wickets', ascending=False).head(1)

In [22]:
df_batting  = pd.read_csv('/home/snow/NEU/cricket_news/dataset/66173_match_info_batting.csv')

In [23]:
df_batting

,match_id,inning_id,team_name,team_shortname,bat_id,bat_name,runs,balls,dots,fours,sixes,strikeRate,outDesc,bowlerId,wicketCode,isOverseas
0,66173,1,Punjab Kings,PBKS,14254,Prabhsimran,23,12,0,2,2,191.67,c Gurbaz b Southee,1057,CAUGHT,False
1,66173,1,Punjab Kings,PBKS,1446,Dhawan,40,29,0,6,0,137.93,b Chakaravarthy,12926,BOWLED,False
2,66173,1,Punjab Kings,PBKS,7869,B Rajapaksa,50,32,0,5,2,156.25,c Rinku Singh b Umesh,1858,CAUGHT,True
3,66173,1,Punjab Kings,PBKS,10214,Jitesh Sharma,21,11,0,1,2,190.91,c Umesh b Southee,1057,CAUGHT,False
4,66173,1,Punjab Kings,PBKS,9354,Raza,16,13,0,1,1,123.08,c Nitish Rana b Narine,2276,CAUGHT,True
5,66173,1,Punjab Kings,PBKS,10420,Sam Curran,26,17,0,0,2,152.94,not out,0,NaN,True
6,66173,1,Punjab Kings,PBKS,10226,Shahrukh Khan,11,7,0,2,0,157.14,not out,0,NaN,False
7,66173,1,Punjab Kings,PBKS,15480,Nathan Ellis,0,0,0,0,0,0.00,NaN,0,NaN,True
8,66173,1,Punjab Kings,PBKS,14452,Harpreet Brar,0,0,0,0,0,0.00,NaN,0,NaN,False
9,66173,1,Punjab Kings,PBKS,12087,Rahul Chahar,0,0,0,0,0,0.00,NaN,0,NaN,False
10,66173,1,Punjab Kings,PBKS,13217,Arshdeep Singh,0,0,0,0,0,0.00,NaN,0,NaN,False
11,66173,1,Punjab Kings,PBKS,8616,Rishi Dhawan,0,0,0,0,0,0.00,NaN,0,NaN,False
12,66173,2,Kolkata Knight Riders,KKR,6319,Mandeep Singh,2,4,2,0,0,50.00,c Sam Curran b Arshdeep Singh,13217,CAUGHT,False
13,66173,2,Kolkata Knight Riders,KKR,13213,Rahmanullah Gurbaz,22,16,8,3,1,137.50,b Nathan Ellis,15480,BOWLED,True
14,66173,2,Kolkata Knight Riders,KKR,12344,Anukul Roy,4,5,4,1,0,80.00,c Raza b Arshdeep Singh,13217,CAUGHT,False
15,66173,2,Kolkata Knight Riders,KKR,10917,Venkatesh Iyer,34,28,9,3,1,121.43,c Rahul Chahar b Arshdeep Singh,13217,CAUGHT,False
16,66173,2,Kolkata Knight Riders,KKR,9204,Nitish Rana,24,17,8,3,1,141.18,c Rahul Chahar b Raza,9354,CAUGHT,False
17,66173,2,Kolkata Knight Riders,KKR,10896,Rinku Singh,4,4,1,0,0,100.00,c Raza b Rahul Chahar,12087,CAUGHT,False
18,66173,2,Kolkata Knight Riders,KKR,7736,Andre Russell,35,19,5,3,2,184.21,c Raza b Sam Curran,10420,CAUGHT,True
19,66173,2,Kolkata Knight Riders,KKR,8683,Shardul Thakur,8,3,0,0,1,266.67,not out,0,NaN,False
20,66173,2,Kolkata Knight Riders,KKR,2276,Sunil Narine,7,2,0,0,1,350.00,not out,0,NaN,True
21,66173,2,Kolkata Knight Riders,KKR,1057,Tim Southee,0,0,0,0,0,0.00,NaN,0,NaN,True
22,66173,2,Kolkata Knight Riders,KKR,1858,Umesh Yadav,0,0,0,0,0,0.00,NaN,0,NaN,False
23,66173,2,Kolkata Knight Riders,KKR,12926,Varun Chakaravarthy,0,0,0,0,0,0.00,NaN,0,NaN,False

In [30]:
team1 = df_batting['team_name'].unique()[0]
team1

'Punjab Kings'

In [31]:
best_bowling_team1 = df_bowling[df_bowling['team_name'] == team1].sort_values(by='wickets', ascending=False).head(1)

In [15]:
best_bowling_team1

,match_id,inning_id,team_name,team_shortname,bowl_id,bowl_name,overs,maidens,runs,dots,wickets,economy,no_balls,wides,isOverseas
1,66173,1,Kolkata Knight Riders,KKR,1057,Southee,4.0,0,54,0,2,13.5,0,0,True