In [1]:
import pandas as pd

In [2]:
commentary = pd.read_csv('data/66169_commentary.csv')

In [3]:
commentary

,over_number,commentary_data,timestamp
0,preview,""" The first chants of Dhoni-Dhoni!"" says a rel...",1680265850564
1,preview,Didn't expect to see so much yellow in Motera!,1680265850565
2,preview,"No matter whatever the stadium may be, CSK fa...",1680265850670
3,preview,"""More yellow than blue in this stadium that's...",1680266544080
4,preview,"Hari agree with that, but there is definitely...",1680266544081
...,...,...,...
410,post,Obviously very happy. We did put ourselves in...,1680287066499
411,post,So happy to get this crucial Man of the Match...,1680287468542
412,post,So happy to get this crucial Man of the Match...,1680287468542
413,post,That concludes a very entertaining IPL opener....,1680287653877
414,post,That concludes a very entertaining IPL opener....,1680287653877

In [4]:
commentary.over_number.unique()

array(['preview', '0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '1.1', '1.2',
       '1.3', '1.4', '1.5', '1.6', '2.1', '2.2', '2.3', '2.4', '2.5',
       '2.6', '3.1', '3.2', '3.3', '3.4', '3.5', '3.6', '4.1', '4.2',
       '4.3', '4.4', '4.5', '4.6', '5.1', '5.2', '5.3', '5.4', '5.5',
       '5.6', '6.1', '6.2', '6.3', '6.4', '6.5', '6.6', '7.1', '7.2',
       '7.3', '7.4', '7.5', '7.6', '8.1', '8.2', '8.3', '8.4', '8.5',
       '8.6', '9.1', '9.2', '9.3', '9.4', '9.5', '9.6', '10.1', '10.2',
       '10.3', '10.4', '10.5', '10.6', '11.1', '11.2', '11.3', '11.4',
       '11.5', '11.6', '12.1', '12.2', '12.3', '12.4', '12.5', '12.6',
       '13.1', '13.2', '13.3', '13.4', '13.5', '13.6', '14.1', '14.2',
       '14.3', '14.4', '14.5', '14.6', '15.1', '15.2', '15.3', '15.4',
       '15.5', '15.6', '16.1', '16.2', '16.3', '16.4', '16.5', '16.6',
       '17.1', '17.2', '17.3', '17.4', '17.5', '17.6', '18.1', '18.2',
       '18.3', '18.4', '18.5', '18.6', '19.1', '19.2', '19.3', '19.4',
       '19.5', '19.6', 'post'], dtype=object)

In [5]:
highlights = pd.read_csv('data/66169_highlights.csv')

In [6]:
highlights.over_number.unique()

array([ 1.1,  1.3,  2.2,  3.1,  3.2,  3.5,  4.3,  4.4,  4.5,  5.3,  5.4,
        5.5,  6.3,  6.4,  6.6,  7.3,  7.4,  8.1,  8.4,  8.6, 10.6, 11.1,
       11.3, 11.6, 12.3, 12.5, 14.3, 16.1, 16.4, 17.1, 17.4, 18.1, 18.2,
       18.3, 19.3, 19.4,  1.2,  1.5,  2.5,  3.6,  4.1,  5.6,  7.5,  8.5,
        9.3, 10.5, 11.2, 12.1, 13.2, 13.6, 14.5, 14.6, 15.3, 17.3, 17.5,
       17.6, 18.4, 18.5, 19.1, 19.2])

In [7]:
highlights

,over_number,commentary_data,timestamp
0,1.1,"Hardik Pandya to Gaikwad, , back of a length ...",1680271750399
1,1.3,"Hardik Pandya to Gaikwad, , lovely drive on th...",1680271774827
2,2.2,"Shami to Conway, Bowled!! who has made a mes...",1680272017214
3,3.1,"Joshua Little to Gaikwad, , Short of length ...",1680272336441
4,3.2,"Joshua Little to Gaikwad, , now he offers wid...",1680272378046
...,...,...,...
64,18.2,"Chahar to Rahul Tewatia, leg byes, , attempte...",1680285646234
65,18.4,"Chahar to Rashid Khan, , Oh my goodness!! Thi...",1680285757069
66,18.5,"Chahar to Rashid Khan, , short on off, Rashid...",1680285831753
67,19.1,"Tushar Deshpande to Rahul Tewatia, , that sho...",1680286015140
68,19.2,"Tushar Deshpande to Rahul Tewatia, , he's don...",1680286063094

In [8]:
match_info = pd.read_csv('data/66169_match_info.csv')

In [9]:
match_info

,match_id,match_description,match_format,match_type,year,team1,team2,venue,city
0,66169,1st Match,T20,league,2023,Gujarat Titans,Chennai Super Kings,"Motera Gujarat Stadium, Sardar Patel Stadium",Ahmedabad

In [ ]:
match_info.team_name.unique()

array(['Gujarat Titans', 'Chennai Super Kings'], dtype=object)

In [13]:
match_info.team1.values[0]

'Gujarat Titans'

In [14]:
match_info = pd.read_csv('/home/snow/NEU/cricket_news/data/66169_scorecard_batting.csv')

In [15]:
match_info

,match_id,inning_id,team_name,team_shortname,bat_id,bat_name,runs,balls,dots,fours,sixes,strikeRate,outDesc,bowlerId,wicketCode,isOverseas
0,66169,1,Chennai Super Kings,CSK,9838,Conway,1,6,0,0,0,16.67,b Shami,7909,BOWLED,True
1,66169,1,Chennai Super Kings,CSK,11813,Ruturaj Gaikwad,92,50,0,4,9,184.00,c Shubman Gill b Alzarri Joseph,11220,CAUGHT,False
2,66169,1,Chennai Super Kings,CSK,6692,Moeen,23,17,0,4,1,135.29,c W Saha b Rashid Khan,10738,CAUGHT,True
3,66169,1,Chennai Super Kings,CSK,6557,Stokes,7,6,0,1,0,116.67,c W Saha b Rashid Khan,10738,CAUGHT,True
4,66169,1,Chennai Super Kings,CSK,6311,Rayudu,12,12,0,0,1,100.00,b Joshua Little,11128,BOWLED,False
5,66169,1,Chennai Super Kings,CSK,11195,Shivam Dube,19,18,0,0,1,105.56,c Rashid Khan b Shami,7909,CAUGHT,False
6,66169,1,Chennai Super Kings,CSK,587,Ravindra Jadeja,1,2,0,0,0,50.00,c Vijay Shankar b Alzarri Joseph,11220,CAUGHT,False
7,66169,1,Chennai Super Kings,CSK,265,Dhoni,14,7,0,1,1,200.00,not out,0,NaN,False
8,66169,1,Chennai Super Kings,CSK,10100,Santner,1,3,0,0,0,33.33,not out,0,NaN,True
9,66169,1,Chennai Super Kings,CSK,7836,D Chahar,0,0,0,0,0,0.00,NaN,0,NaN,False
10,66169,1,Chennai Super Kings,CSK,14599,Rajvardhan Hangargekar,0,0,0,0,0,0.00,NaN,0,NaN,False
11,66169,1,Chennai Super Kings,CSK,11307,Tushar Deshpande,0,0,0,0,0,0.00,NaN,0,NaN,False
12,66169,2,Gujarat Titans,GT,1465,Wriddhiman Saha,25,16,7,2,2,156.25,c Shivam Dube b Rajvardhan Hangargekar,14599,CAUGHT,False
13,66169,2,Gujarat Titans,GT,11808,Shubman Gill,63,36,9,6,3,175.00,c Ruturaj Gaikwad b Tushar Deshpande,11307,CAUGHT,False
14,66169,2,Gujarat Titans,GT,13866,Sai Sudharsan,22,17,6,3,0,129.41,c Dhoni b Rajvardhan Hangargekar,14599,CAUGHT,False
15,66169,2,Gujarat Titans,GT,9647,Hardik Pandya,8,11,4,0,0,72.73,b Ravindra Jadeja,587,BOWLED,False
16,66169,2,Gujarat Titans,GT,8204,Vijay Shankar,27,21,7,2,1,128.57,c Santner b Rajvardhan Hangargekar,14599,CAUGHT,False
17,66169,2,Gujarat Titans,GT,9693,Rahul Tewatia,15,14,7,1,1,107.14,not out,0,NaN,False
18,66169,2,Gujarat Titans,GT,10738,Rashid Khan,10,3,1,1,1,333.33,not out,0,NaN,True
19,66169,2,Gujarat Titans,GT,6326,Kane Williamson,0,0,0,0,0,0.00,NaN,0,NaN,True
20,66169,2,Gujarat Titans,GT,7909,Mohammed Shami,0,0,0,0,0,0.00,NaN,0,NaN,False
21,66169,2,Gujarat Titans,GT,11128,Joshua Little,0,0,0,0,0,0.00,NaN,0,NaN,True
22,66169,2,Gujarat Titans,GT,14172,Yash Dayal,0,0,0,0,0,0.00,NaN,0,NaN,False
23,66169,2,Gujarat Titans,GT,11220,Alzarri Joseph,0,0,0,0,0,0.00,NaN,0,NaN,True