In [4]:
import pandas as pd
import os
import json

folder_path_1 = "/Users/aishwaryaravichandran/Downloads/crickbuzz_api/commentary/match_info"

filename_1 = "66169.json"

file_path_1 = os.path.join(folder_path_1, filename_1)

with open(file_path_1, "r") as file:
    json_data = json.load(file)

match_data = {
    "match_id": [json_data["matchInfo"]["matchId"]],
    "match_description": [json_data["matchInfo"]["matchDescription"]],
    "match_format": [json_data["matchInfo"]["matchFormat"]],
    "match_type": [json_data["matchInfo"]["matchType"]],
    "year": [json_data["matchInfo"]["year"]],
    "team1": [json_data["matchInfo"]["team1"]["name"]],
    "team2": [json_data["matchInfo"]["team2"]["name"]],
    "venue": [json_data["venueInfo"]["knownAs"]],
    "city": [json_data["venueInfo"]["city"]],
}

# Convert the dictionary to a DataFrame
match_df = pd.DataFrame(match_data)

match_df.head(100)

,match_id,match_description,match_format,match_type,year,team1,team2,venue,city
0,66169,1st Match,T20,league,2023,Gujarat Titans,Chennai Super Kings,"Motera Gujarat Stadium, Sardar Patel Stadium",Ahmedabad

In [5]:
match_df.to_csv('/Users/aishwaryaravichandran/Downloads/crickbuzz_api/commentary/dataset/66169_match_info.csv', index=False)