In [43]:
import pandas as pd
import os
import json

folder_path_1 = "/Users/aishwaryaravichandran/Downloads/crickbuzz_api/commentary/scorecard"

filename_1 = "66169.json"

file_path_1 = os.path.join(folder_path_1, filename_1)

with open(file_path_1, "r") as file:
    json_data = json.load(file)

batId_list = []
batName = []
runs_list = []
balls_list = []
dots_list = []
fours_list = []
sixes_list = []
strikeRate_list = []
outDesc_list = []
bowlerId_list = []
wicketCode_list = []
isOverseas_list = []

batsmen_data = json_data["scoreCard"][0]["batTeamDetails"]["batsmenData"]
for key, value in batsmen_data.items():
    bat_id = value["batId"]
    bat_name = value["batName"]
    runs = value["runs"]
    balls = value["balls"]
    dots = value["dots"]
    fours = value["fours"]
    sixes = value["sixes"]
    strikerate = value["strikeRate"]
    out_desc = value["outDesc"]
    bow_id = value["bowlerId"]
    wicket_code = value["wicketCode"]
    isOverseas = value["isOverseas"]


    batId_list.append(bat_id)
    batName.append(bat_name)
    runs_list.append(runs)
    balls_list.append(balls)
    dots_list.append(dots)
    fours_list.append(fours)
    sixes_list.append(sixes)
    strikeRate_list.append(strikerate)
    outDesc_list.append(out_desc)
    bowlerId_list.append(bow_id)
    wicketCode_list.append(wicket_code)
    isOverseas_list.append(isOverseas)

scorecard_data = {
"match_id": [json_data["scoreCard"][0]["matchId"]] * len(batId_list),
"inning_id": [json_data["scoreCard"][0]["inningsId"]] * len(batId_list),
"team_name": [json_data["scoreCard"][0]["batTeamDetails"]["batTeamName"]] * len(batId_list),
"team_shortname": [json_data["scoreCard"][0]["batTeamDetails"]["batTeamShortName"]] * len(batId_list),
"bat_id": batId_list,
"bat_name": batName,
"runs": runs_list,
"balls": balls_list,
"dots": dots_list,
"fours": fours_list,
"sixes": sixes_list,
"strikeRate": strikeRate_list,
"outDesc": outDesc_list,
"bowlerId": bowlerId_list,
"wicketCode": wicketCode_list,
"isOverseas": isOverseas_list,
}

scorecard_data_df = pd.DataFrame(scorecard_data)

scorecard_data_df.head(20)

,match_id,inning_id,team_name,team_shortname,bat_id,bat_name,runs,balls,dots,fours,sixes,strikeRate,outDesc,bowlerId,wicketCode,isOverseas
0,66169,1,Chennai Super Kings,CSK,9838,Conway,1,6,0,0,0,16.67,b Shami,7909,BOWLED,True
1,66169,1,Chennai Super Kings,CSK,11813,Ruturaj Gaikwad,92,50,0,4,9,184.00,c Shubman Gill b Alzarri Joseph,11220,CAUGHT,False
2,66169,1,Chennai Super Kings,CSK,6692,Moeen,23,17,0,4,1,135.29,c W Saha b Rashid Khan,10738,CAUGHT,True
3,66169,1,Chennai Super Kings,CSK,6557,Stokes,7,6,0,1,0,116.67,c W Saha b Rashid Khan,10738,CAUGHT,True
4,66169,1,Chennai Super Kings,CSK,6311,Rayudu,12,12,0,0,1,100.00,b Joshua Little,11128,BOWLED,False
5,66169,1,Chennai Super Kings,CSK,11195,Shivam Dube,19,18,0,0,1,105.56,c Rashid Khan b Shami,7909,CAUGHT,False
6,66169,1,Chennai Super Kings,CSK,587,Ravindra Jadeja,1,2,0,0,0,50.00,c Vijay Shankar b Alzarri Joseph,11220,CAUGHT,False
7,66169,1,Chennai Super Kings,CSK,265,Dhoni,14,7,0,1,1,200.00,not out,0,,False
8,66169,1,Chennai Super Kings,CSK,10100,Santner,1,3,0,0,0,33.33,not out,0,,True
9,66169,1,Chennai Super Kings,CSK,7836,D Chahar,0,0,0,0,0,0.00,,0,,False
10,66169,1,Chennai Super Kings,CSK,14599,Rajvardhan Hangargekar,0,0,0,0,0,0.00,,0,,False
11,66169,1,Chennai Super Kings,CSK,11307,Tushar Deshpande,0,0,0,0,0,0.00,,0,,False

In [44]:
batsmen_data_1 = json_data["scoreCard"][1]["batTeamDetails"]["batsmenData"]

batId_list = []
batName = []
runs_list = []
balls_list = []
dots_list = []
fours_list = []
sixes_list = []
strikeRate_list = []
outDesc_list = []
bowlerId_list = []
wicketCode_list = []
isOverseas_list = []

for key, value in batsmen_data_1.items():
    bat_id = value["batId"]
    bat_name = value["batName"]
    runs = value["runs"]
    balls = value["balls"]
    dots = value["dots"]
    fours = value["fours"]
    sixes = value["sixes"]
    strikerate = value["strikeRate"]
    out_desc = value["outDesc"]
    bow_id = value["bowlerId"]
    wicket_code = value["wicketCode"]
    isOverseas = value["isOverseas"]


    batId_list.append(bat_id)
    batName.append(bat_name)
    runs_list.append(runs)
    balls_list.append(balls)
    dots_list.append(dots)
    fours_list.append(fours)
    sixes_list.append(sixes)
    strikeRate_list.append(strikerate)
    outDesc_list.append(out_desc)
    bowlerId_list.append(bow_id)
    wicketCode_list.append(wicket_code)
    isOverseas_list.append(isOverseas)

scorecard_data_2 = {
"match_id": [json_data["scoreCard"][1]["matchId"]] * len(batId_list),
"inning_id": [json_data["scoreCard"][1]["inningsId"]] * len(batId_list),
"team_name": [json_data["scoreCard"][1]["batTeamDetails"]["batTeamName"]] * len(batId_list),
"team_shortname": [json_data["scoreCard"][1]["batTeamDetails"]["batTeamShortName"]] * len(batId_list),
"bat_id": batId_list,
"bat_name": batName,
"runs": runs_list,
"balls": balls_list,
"dots": dots_list,
"fours": fours_list,
"sixes": sixes_list,
"strikeRate": strikeRate_list,
"outDesc": outDesc_list,
"bowlerId": bowlerId_list,
"wicketCode": wicketCode_list,
"isOverseas": isOverseas_list,
}

scorecard_data_df_2 = pd.DataFrame(scorecard_data_2)

scorecard_data_df_2.head(100)

,match_id,inning_id,team_name,team_shortname,bat_id,bat_name,runs,balls,dots,fours,sixes,strikeRate,outDesc,bowlerId,wicketCode,isOverseas
0,66169,2,Gujarat Titans,GT,1465,Wriddhiman Saha,25,16,7,2,2,156.25,c Shivam Dube b Rajvardhan Hangargekar,14599,CAUGHT,False
1,66169,2,Gujarat Titans,GT,11808,Shubman Gill,63,36,9,6,3,175.00,c Ruturaj Gaikwad b Tushar Deshpande,11307,CAUGHT,False
2,66169,2,Gujarat Titans,GT,13866,Sai Sudharsan,22,17,6,3,0,129.41,c Dhoni b Rajvardhan Hangargekar,14599,CAUGHT,False
3,66169,2,Gujarat Titans,GT,9647,Hardik Pandya,8,11,4,0,0,72.73,b Ravindra Jadeja,587,BOWLED,False
4,66169,2,Gujarat Titans,GT,8204,Vijay Shankar,27,21,7,2,1,128.57,c Santner b Rajvardhan Hangargekar,14599,CAUGHT,False
5,66169,2,Gujarat Titans,GT,9693,Rahul Tewatia,15,14,7,1,1,107.14,not out,0,,False
6,66169,2,Gujarat Titans,GT,10738,Rashid Khan,10,3,1,1,1,333.33,not out,0,,True
7,66169,2,Gujarat Titans,GT,6326,Kane Williamson,0,0,0,0,0,0.00,,0,,True
8,66169,2,Gujarat Titans,GT,7909,Mohammed Shami,0,0,0,0,0,0.00,,0,,False
9,66169,2,Gujarat Titans,GT,11128,Joshua Little,0,0,0,0,0,0.00,,0,,True
10,66169,2,Gujarat Titans,GT,14172,Yash Dayal,0,0,0,0,0,0.00,,0,,False
11,66169,2,Gujarat Titans,GT,11220,Alzarri Joseph,0,0,0,0,0,0.00,,0,,True

In [45]:
appended_df = pd.concat([scorecard_data_df, scorecard_data_df_2], ignore_index=True)

appended_df.head(100)

,match_id,inning_id,team_name,team_shortname,bat_id,bat_name,runs,balls,dots,fours,sixes,strikeRate,outDesc,bowlerId,wicketCode,isOverseas
0,66169,1,Chennai Super Kings,CSK,9838,Conway,1,6,0,0,0,16.67,b Shami,7909,BOWLED,True
1,66169,1,Chennai Super Kings,CSK,11813,Ruturaj Gaikwad,92,50,0,4,9,184.00,c Shubman Gill b Alzarri Joseph,11220,CAUGHT,False
2,66169,1,Chennai Super Kings,CSK,6692,Moeen,23,17,0,4,1,135.29,c W Saha b Rashid Khan,10738,CAUGHT,True
3,66169,1,Chennai Super Kings,CSK,6557,Stokes,7,6,0,1,0,116.67,c W Saha b Rashid Khan,10738,CAUGHT,True
4,66169,1,Chennai Super Kings,CSK,6311,Rayudu,12,12,0,0,1,100.00,b Joshua Little,11128,BOWLED,False
5,66169,1,Chennai Super Kings,CSK,11195,Shivam Dube,19,18,0,0,1,105.56,c Rashid Khan b Shami,7909,CAUGHT,False
6,66169,1,Chennai Super Kings,CSK,587,Ravindra Jadeja,1,2,0,0,0,50.00,c Vijay Shankar b Alzarri Joseph,11220,CAUGHT,False
7,66169,1,Chennai Super Kings,CSK,265,Dhoni,14,7,0,1,1,200.00,not out,0,,False
8,66169,1,Chennai Super Kings,CSK,10100,Santner,1,3,0,0,0,33.33,not out,0,,True
9,66169,1,Chennai Super Kings,CSK,7836,D Chahar,0,0,0,0,0,0.00,,0,,False
10,66169,1,Chennai Super Kings,CSK,14599,Rajvardhan Hangargekar,0,0,0,0,0,0.00,,0,,False
11,66169,1,Chennai Super Kings,CSK,11307,Tushar Deshpande,0,0,0,0,0,0.00,,0,,False
12,66169,2,Gujarat Titans,GT,1465,Wriddhiman Saha,25,16,7,2,2,156.25,c Shivam Dube b Rajvardhan Hangargekar,14599,CAUGHT,False
13,66169,2,Gujarat Titans,GT,11808,Shubman Gill,63,36,9,6,3,175.00,c Ruturaj Gaikwad b Tushar Deshpande,11307,CAUGHT,False
14,66169,2,Gujarat Titans,GT,13866,Sai Sudharsan,22,17,6,3,0,129.41,c Dhoni b Rajvardhan Hangargekar,14599,CAUGHT,False
15,66169,2,Gujarat Titans,GT,9647,Hardik Pandya,8,11,4,0,0,72.73,b Ravindra Jadeja,587,BOWLED,False
16,66169,2,Gujarat Titans,GT,8204,Vijay Shankar,27,21,7,2,1,128.57,c Santner b Rajvardhan Hangargekar,14599,CAUGHT,False
17,66169,2,Gujarat Titans,GT,9693,Rahul Tewatia,15,14,7,1,1,107.14,not out,0,,False
18,66169,2,Gujarat Titans,GT,10738,Rashid Khan,10,3,1,1,1,333.33,not out,0,,True
19,66169,2,Gujarat Titans,GT,6326,Kane Williamson,0,0,0,0,0,0.00,,0,,True
20,66169,2,Gujarat Titans,GT,7909,Mohammed Shami,0,0,0,0,0,0.00,,0,,False
21,66169,2,Gujarat Titans,GT,11128,Joshua Little,0,0,0,0,0,0.00,,0,,True
22,66169,2,Gujarat Titans,GT,14172,Yash Dayal,0,0,0,0,0,0.00,,0,,False
23,66169,2,Gujarat Titans,GT,11220,Alzarri Joseph,0,0,0,0,0,0.00,,0,,True

In [46]:
bowlerId_list = []
bowlName_list = []
overs_list = []
maiden_list = []
runs_list = []
dots_list = []
wickets_list = []
economy_list = []
no_balls_list = []
wides_list = []
isOverseas_list = []

bowling_data = json_data["scoreCard"][0]["bowlTeamDetails"]["bowlersData"]
for key, value in bowling_data.items():
    bow_id = value["bowlerId"]
    bow_name = value["bowlName"]
    overs = value["overs"]
    maidens = value["maidens"]
    runs = value["runs"]
    dots = value["dots"]
    wickets = value["wickets"]
    economy = value["economy"]
    no_balls = value["no_balls"]
    wides = value["wides"]
    isOverseas = value["isOverseas"]


    bowlerId_list.append(bow_id)
    bowlName_list.append(bow_name)
    overs_list.append(overs)
    maiden_list.append(maidens)
    runs_list.append(runs)
    dots_list.append(dots)
    wickets_list.append(wickets)
    economy_list.append(economy)
    no_balls_list.append(no_balls)
    wides_list.append(wides)
    isOverseas_list.append(isOverseas)

scorecard_data_3 = {
"match_id": [json_data["scoreCard"][0]["matchId"]] * len(bowlerId_list),
"inning_id": [json_data["scoreCard"][0]["inningsId"]] * len(bowlerId_list),
"team_name": [json_data["scoreCard"][0]["bowlTeamDetails"]["bowlTeamName"]] * len(bowlerId_list),
"team_shortname": [json_data["scoreCard"][0]["bowlTeamDetails"]["bowlTeamShortName"]] * len(bowlerId_list),
"bowl_id": bowlerId_list,
"bowl_name": bowlName_list,
"overs": overs_list,
"maidens": maiden_list,
"runs": runs_list,
"dots": dots_list,
"wickets": wickets_list,
"economy": economy_list,
"no_balls": no_balls_list,
"wides": wides_list,
"isOverseas": isOverseas_list,
}

scorecard_data_df_3 = pd.DataFrame(scorecard_data_3)

scorecard_data_df_3.head(20)

,match_id,inning_id,team_name,team_shortname,bowl_id,bowl_name,overs,maidens,runs,dots,wickets,economy,no_balls,wides,isOverseas
0,66169,1,Gujarat Titans,GT,7909,Shami,4,0,29,0,2,7.2,1,0,False
1,66169,1,Gujarat Titans,GT,9647,Hardik Pandya,3,0,28,0,0,9.3,0,0,False
2,66169,1,Gujarat Titans,GT,11128,Joshua Little,4,0,41,0,1,10.2,0,0,True
3,66169,1,Gujarat Titans,GT,10738,Rashid Khan,4,0,26,0,2,6.5,0,0,True
4,66169,1,Gujarat Titans,GT,11220,Alzarri Joseph,4,0,33,0,2,8.2,0,0,True
5,66169,1,Gujarat Titans,GT,14172,Yash Dayal,1,0,14,0,0,14.0,0,0,False

In [47]:
bowlerId_list = []
bowlName_list = []
overs_list = []
maiden_list = []
runs_list = []
dots_list = []
wickets_list = []
economy_list = []
no_balls_list = []
wides_list = []
isOverseas_list = []

bowling_data_2 = json_data["scoreCard"][1]["bowlTeamDetails"]["bowlersData"]
for key, value in bowling_data.items():
    bow_id = value["bowlerId"]
    bow_name = value["bowlName"]
    overs = value["overs"]
    maidens = value["maidens"]
    runs = value["runs"]
    dots = value["dots"]
    wickets = value["wickets"]
    economy = value["economy"]
    no_balls = value["no_balls"]
    wides = value["wides"]
    isOverseas = value["isOverseas"]


    bowlerId_list.append(bow_id)
    bowlName_list.append(bow_name)
    overs_list.append(overs)
    maiden_list.append(maidens)
    runs_list.append(runs)
    dots_list.append(dots)
    wickets_list.append(wickets)
    economy_list.append(economy)
    no_balls_list.append(no_balls)
    wides_list.append(wides)
    isOverseas_list.append(isOverseas)

scorecard_data_4 = {
"match_id": [json_data["scoreCard"][1]["matchId"]] * len(bowlerId_list),
"inning_id": [json_data["scoreCard"][1]["inningsId"]] * len(bowlerId_list),
"team_name": [json_data["scoreCard"][1]["bowlTeamDetails"]["bowlTeamName"]] * len(bowlerId_list),
"team_shortname": [json_data["scoreCard"][1]["bowlTeamDetails"]["bowlTeamShortName"]] * len(bowlerId_list),
"bowl_id": bowlerId_list,
"bowl_name": bowlName_list,
"overs": overs_list,
"maidens": maiden_list,
"runs": runs_list,
"dots": dots_list,
"wickets": wickets_list,
"economy": economy_list,
"no_balls": no_balls_list,
"wides": wides_list,
"isOverseas": isOverseas_list,
}

scorecard_data_df_4 = pd.DataFrame(scorecard_data_4)

scorecard_data_df_4.head(20)

,match_id,inning_id,team_name,team_shortname,bowl_id,bowl_name,overs,maidens,runs,dots,wickets,economy,no_balls,wides,isOverseas
0,66169,2,Chennai Super Kings,CSK,7909,Shami,4,0,29,0,2,7.2,1,0,False
1,66169,2,Chennai Super Kings,CSK,9647,Hardik Pandya,3,0,28,0,0,9.3,0,0,False
2,66169,2,Chennai Super Kings,CSK,11128,Joshua Little,4,0,41,0,1,10.2,0,0,True
3,66169,2,Chennai Super Kings,CSK,10738,Rashid Khan,4,0,26,0,2,6.5,0,0,True
4,66169,2,Chennai Super Kings,CSK,11220,Alzarri Joseph,4,0,33,0,2,8.2,0,0,True
5,66169,2,Chennai Super Kings,CSK,14172,Yash Dayal,1,0,14,0,0,14.0,0,0,False

In [48]:
appended_df_2 = pd.concat([scorecard_data_df_3, scorecard_data_df_4], ignore_index=True)

appended_df_2.head(100)

,match_id,inning_id,team_name,team_shortname,bowl_id,bowl_name,overs,maidens,runs,dots,wickets,economy,no_balls,wides,isOverseas
0,66169,1,Gujarat Titans,GT,7909,Shami,4,0,29,0,2,7.2,1,0,False
1,66169,1,Gujarat Titans,GT,9647,Hardik Pandya,3,0,28,0,0,9.3,0,0,False
2,66169,1,Gujarat Titans,GT,11128,Joshua Little,4,0,41,0,1,10.2,0,0,True
3,66169,1,Gujarat Titans,GT,10738,Rashid Khan,4,0,26,0,2,6.5,0,0,True
4,66169,1,Gujarat Titans,GT,11220,Alzarri Joseph,4,0,33,0,2,8.2,0,0,True
5,66169,1,Gujarat Titans,GT,14172,Yash Dayal,1,0,14,0,0,14.0,0,0,False
6,66169,2,Chennai Super Kings,CSK,7909,Shami,4,0,29,0,2,7.2,1,0,False
7,66169,2,Chennai Super Kings,CSK,9647,Hardik Pandya,3,0,28,0,0,9.3,0,0,False
8,66169,2,Chennai Super Kings,CSK,11128,Joshua Little,4,0,41,0,1,10.2,0,0,True
9,66169,2,Chennai Super Kings,CSK,10738,Rashid Khan,4,0,26,0,2,6.5,0,0,True
10,66169,2,Chennai Super Kings,CSK,11220,Alzarri Joseph,4,0,33,0,2,8.2,0,0,True
11,66169,2,Chennai Super Kings,CSK,14172,Yash Dayal,1,0,14,0,0,14.0,0,0,False

In [49]:
appended_df.to_csv('/Users/aishwaryaravichandran/Downloads/crickbuzz_api/commentary/dataset/66169_scorecard_batting.csv', index=False)

In [50]:
appended_df_2.to_csv('/Users/aishwaryaravichandran/Downloads/crickbuzz_api/commentary/dataset/66169_scorecard_bowling.csv', index=False)